## Settings file was created by plugin Localization plugin for Atelier Resleriana (JP) Steam. v2.0.0
## Plugin GUID: AtelierResleriana.Plugin.Localization

[Data]

## The path to the localization data file to use - specified as a relative path to the plugin directory or an absolute path.
# Setting type: String
# Default value: Resources/LocalizationData.json
Path = Resources/LocalizationData.json

## Enable this to automatically check for updates to the localization data. This will only run if the default localization data path is used.
# Setting type: Boolean
# Default value: true
AutoUpdate = true

## The host of the server to use to check for automatic updates.
# Setting type: String
# Default value: atelierresleriana.azurewebsites.net
UpdateServer = atelierresleriana.azurewebsites.net

## The number of seconds to wait before timing out on the check for localization data updates.
# Setting type: Int32
# Default value: 5
UpdateCheckTimeout = 5

## The number of seconds to wait for localization updates to download before timing out.
# Setting type: Int32
# Default value: 30
UpdateDownloadTimeout = 30

[General]

## Enable or disable this localization plugin.
# Setting type: Boolean
# Default value: true
Enabled = true

## Language/locale to target - should be one of en, zh-CN, or zh-TW.
# Setting type: String
# Default value: en
Language = en

## Enable this to enable the localization of master data.
# Setting type: Boolean
# Default value: true
LocalizeMasterData = true

## Enable this to enable interception of asset bundles for localized dialogue scenes. Enabling this will have some impact on loading times.
# Setting type: Boolean
# Default value: true
LocalizeAssetBundles = true

## Enable this to trade increased RAM usage for reduced loading times by caching processed files that the game may request multiple times.
# Setting type: Boolean
# Default value: true
UseSerializedFileCache = true

## The font size to use for dialogue displays.
# Setting type: Int32
# Default value: 32
DialogueFontSize = 32

